<footer class="footer">
    <div class="footer-content">
        <p>&copy; {{currentYear}} Dave The Wave Charleston Harbor Tours</p>
        <div class="social-icons">
            <a href="https://www.facebook.com/profile.php?id=61568485744729" target="_blank" aria-label="Facebook">
                <img src="assets/images/facebook.png" alt="Facebook" width="200px">
            </a>
            <a href="https://instagram.com/davethewavecharleston" target="_blank" aria-label="Instagram">
                <img src="assets/images/instagram.png" alt="Instagram">
            </a>
        </div>
    </div>
</footer>