<div class="about-container">
    <div class="about-photo">
        <img src="assets/images/dave.jpeg">
    </div>
    <div class="about-text">
        <h1>Hi, I'm Dave Brockway!</h1>
        <p>I was born in New England and spent 33 years there. We are lifelong Celtics, Patriots, and Boston Bruins
            fans—think <i>Good Will Hunting</i>. I still have deep ties to Boston.
            <br /><br />
            In 1992, I moved my family to Charleston, SC, to escape the blustery Northeast winters. In Charleston, I
            became a VP for a major financial firm and retired in early 2024 after 30 years. I have a love for all
            animals and spend my off days volunteering at animal shelters, playing golf, and tennis. Most of my time,
            though, is spent on the water with family and friends. Every outing is a new adventure.
        </p>
    </div>
</div>