<div class="contact-container">
    <div class="contact-info">
        <h1>Contact Me</h1>
        <p>If you have any questions, or would like to setup a tour, please feel free to reach out to me via the
            following methods:</p>
        <div class="contact-methods">
            <div class="contact-method">
                <h2>Phone</h2>
                <p><a href="tel:+18434424618">+1 (843) 442-4618</a></p>
            </div>
            <div class="contact-method">
                <h2>Email</h2>
                <p><a href="mailto:davethewavecharleston@gmail.com">davethewavecharleston&#64;gmail.com</a></p>
            </div>
        </div>
    </div>
</div>