.dark-blue {
    font-weight: 500;
    color: rgb(9, 100, 181);
}

.title {
    padding-top: 20px;
    text-align: center;
}

.center {
    padding: 50px;
    text-align: center;
    font-size: 10pt;
    font-style: italic;
}

/* Media Query for Mobile Devices */
@media (max-width: 768px) {
    .dark-blue {
        text-align: center;
        font-size: 9pt;
        padding: 6px;
    }

    .smaller-text {
        font-size: 9pt;
        padding: 6px;
    }


}