<!-- photos.component.html -->
<div class="title">
    <h4>Photo Gallery</h4>


</div>
<div class="photo-grid">
    <div class="photo">
        <video autoplay muted loop>
            <source src="assets/videos/toler.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <div class="photo">
        <video autoplay muted loop>
            <source src="assets/videos/dolphins.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <div class="photo">
        <img src="assets/images/boats.jpeg" alt="Photo 1" />
    </div>
    <div class="photo">
        <img src="assets/images/the-boat.jpeg" alt="Photo 2" />
    </div>
    <div class="photo">
        <img src="assets/images/friends.jpeg" alt="Photo 3" />
    </div>
    <div class="photo">
        <img src="assets/images/dave-shells-dad.jpeg" alt="Photo 4" />
    </div>
    <div class="photo">
        <video autoplay muted loop>
            <source src="assets/videos/manatee.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <div class="photo">
        <video autoplay muted loop>
            <source src="assets/videos/deer.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <div class="photo">
        <img src="assets/images/egret.jpeg" alt="Photo 4" />
    </div>
    <div class="photo">
        <img src="assets/images/friends-boat.jpeg" alt="Photo 4" />
    </div>
    <div class="photo">
        <img src="assets/images/more-friends-onboat.jpeg" alt="Photo 4" />
    </div>
    <div class="photo">
        <img src="assets/images/toler.jpeg" alt="Photo 4" />
    </div>
    <!-- Add more photos here as needed -->
</div>