<!-- photos.component.html -->
<div class="title">
    <h4>Photo Gallery</h4>


</div>
<div class="photo-grid">
    <div class="photo">
        <img src="assets/images/toler.jpeg" alt="golden retriever dog on a boat" />
    </div>
    <div class="photo">
        <img src="assets/images/dave-with-puppy.jpeg" alt="golden retriever dog on a boat" />
    </div>
    <div class="photo">
        <img src="assets/images/sunset.jpeg" alt="sunset at a marina" />
    </div>
    <div class="photo">
        <img src="assets/images/girls-and-dave.jpeg" alt="women and dave smiling" />
    </div>
    <div class="photo">
        <img src="assets/images/the-boys.jpeg" alt="boys on a boat" />
    </div>
    <div class="photo">
        <img src="assets/images/boats.jpeg" alt="dave's boat with another boat" />
    </div>
    <div class="photo">
        <img src="assets/images/the-boat.jpeg" alt="dave's boat" />
    </div>
    <div class="photo">
        <img src="assets/images/turtle.jpeg" alt="turtle" />
    </div>
    <div class="photo">
        <img src="assets/images/dave-shells-dad.jpeg" alt="dave and friend with shells" />
    </div>
    <div class="photo">
        <img src="assets/images/egret.jpeg" alt="joanne with an egret" />
    </div>
    <div class="photo">
        <img src="assets/images/friends-boat.jpeg" alt="friends on a boat" />
    </div>
    <div class="photo">
        <img src="assets/images/more-friends-onboat.jpeg" alt="friends on a boat" />
    </div>


    <!-- Add more photos here as needed -->
</div>