<!-- photos.component.html -->
<div class="title">
    <h4>Photo Gallery</h4>


</div>
<div class="photo-grid">
    <div class="photo">
        <video autoplay muted loop>
            <source src="assets/videos/toler.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <div class="photo">
        <video autoplay muted loop>
            <source src="assets/videos/dolphins.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <div class="photo">
        <img src="assets/images/boats.jpeg" alt="dave's boat with another boat" />
    </div>
    <div class="photo">
        <img src="assets/images/the-boat.jpeg" alt="dave's boat" />
    </div>
    <div class="photo">
        <img src="assets/images/turtle.jpeg" alt="turtle" />
    </div>
    <div class="photo">
        <img src="assets/images/dave-shells-dad.jpeg" alt="dave and friend with shells" />
    </div>
    <div class="photo">
        <video autoplay muted loop>
            <source src="assets/videos/manatee.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <div class="photo">
        <video autoplay muted loop>
            <source src="assets/videos/deer.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <div class="photo">
        <img src="assets/images/egret.jpeg" alt="joanne with an egret" />
    </div>
    <div class="photo">
        <img src="assets/images/friends-boat.jpeg" alt="friends on a boat" />
    </div>
    <div class="photo">
        <img src="assets/images/more-friends-onboat.jpeg" alt="friends on a boat" />
    </div>
    <div class="photo">
        <img src="assets/images/toler.jpeg" alt="golden retriever dog on a boat" />
    </div>
    <div class="photo">
        <video autoplay muted loop>
            <source src="assets/videos/thrashing.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <!-- Add more photos here as needed -->
</div>