/* nav-bar.component.css */
.nav-item {
    margin-right: 40px;
  }
  
  @media (max-width: 768px) {
    .navbar-brand img {
      height: auto;  /* Smaller logo on mobile */
      width: 90px;
    }
  }
  