<div class="contact-info">
    <p>To book a tour, please contact me via:</p>
    <div class="contact-details">
        <div class="contact-method">
            <h3>Phone</h3>
            <p><a href="tel:+18434424618">+1 (843) 442-4618</a></p>
        </div>
        <div class="contact-method">
            <h3>Email</h3>
            <p><a href="mailto:david.brockway23@comcast.net">david.brockway23&#64;comcast.net</a></p>
        </div>
    </div>
</div>

<div class="services-container">
    <div class="service">
        <div class="service-photo">
            <img src="assets/images/the-boat.jpeg" alt="Service 1" />
        </div>
        <div class="service-text">
            <h2>Service 1</h2>
            <p>Service 1 text goes here!</p>
        </div>
    </div>

    <div class="service">
        <div class="service-photo">
            <img src="assets/images/boat-with-shells.jpeg" alt="Service 2" />
        </div>
        <div class="service-text">
            <h2>Service 2</h2>
            <p>Service 2 text goes here!</p>
        </div>
    </div>


    <!-- Add more services as needed -->
</div>