<!-- review.component.html -->
<div class="title">
    <h4>Reviews</h4>
</div>
<!-- google review alert -->
<div class="google-review-info">
    <h6><b>Checkout my Google Reviews too!</b></h6>
    <div class="google-review-details">
        <p>Put a link to Google here</p>
        <!-- <div class="google-review-method">
            <h3>Phone</h3>
            <p><a href="tel:+18434424618">+1 (843) 442-4618</a></p>
        </div>
        <div class="google-review-method">
            <h3>Email</h3>
            <p><a href="mailto:davethewavecharleston@gmail.com">davethewavecharleston&#64;gmail.com</a></p>
        </div> -->
    </div>
</div>

<!-- Review Section -->
<div class="reviews-container">
    <div class="review">
        <div class="review-photo">
            <img src="assets/images/more-friends-onboat.jpeg" alt="friends on a boat" />
        </div>
        <div class="review-text">
            <h2>Stephanie</h2>
            <p>"This service exceeded my expectations! I was impressed by the quality and professionalism. Highly
                recommend!"</p>
            <p class="rating">⭐⭐⭐⭐⭐</p>
        </div>
    </div>

    <!-- <div class="review">
        <div class="review-photo">
            <img src="assets/images/beach-friends.jpeg" alt="friends at the beach" />
        </div>
        <div class="review-text">
            <h2>Customer Name</h2>
            <p>"Amazing experience! The team was very responsive and delivered great results. Will use them again."</p>
            <p class="rating">⭐⭐⭐⭐⭐</p>
        </div>
    </div> -->

    <div class="review">
        <div class="review-photo">
            <img src="assets/images/friends-boat.jpeg" alt="friends at the beach standing" />
        </div>
        <div class="review-text">
            <h2>Lil & Marty</h2>
            <p>"Fantastic service! I was well taken care of from start to finish. Couldn't have asked for a better
                experience."</p>
            <p class="rating">⭐⭐⭐⭐⭐</p>
        </div>
    </div>

    <!-- Add more reviews as needed -->
</div>