<!-- review.component.html -->
<div class="title">
    <h4>Reviews</h4>
</div>
<!-- google review alert -->
<div class="google-review-info">
    <h6><b>Checkout my <a
                href="https://www.google.com/search?q=Dave+the+Wave+Charleston+Harbor+Tours&oq=Dave+the+Wave+Charleston+Harbor+Tours&gs_lcrp=EgZjaHJvbWUqBggAEEUYOzIGCAAQRRg7MgYIARBFGDsyCQgCEEUYOxigATIGCAMQRRg7MgYIBBBFGDsyBggFEEUYPDIGCAYQRRg8MgYIBxBFGDzSAQg1MTc5ajBqNKgCALACAQ&sourceid=chrome&ie=UTF-8#lrd=0x88fe71203053bae3:0xd41c18c08c451cd7,1,,,,">Google
                Reviews</a> too!</b></h6>
    <div class="google-review-details">
        <!-- <p>Put a link to Google here</p> -->
    </div>
</div>

<!-- Review Section -->
<div class="reviews-container">
    <div class="review">
        <div class="review-photo">
            <img src="assets/images/more-friends-onboat.jpeg" alt="friends on a boat" />
        </div>
        <div class="review-text">
            <h2>Stefanie</h2>
            <p>"This service exceeded my expectations! I was impressed by the quality and professionalism. Highly
                recommend!"</p>
            <p class="rating">⭐⭐⭐⭐⭐</p>
        </div>
    </div>

    <div class="review">
        <div class="review-photo">
            <img src="assets/images/beach-friends.jpeg" alt="friends at the beach" />
        </div>
        <div class="review-text">
            <h2>Ed</h2>
            <p>"Fantastic experience on the water. The sand bar and islands were awesome. This was the highlight of our
                trip to Charleston. Thanks again to Captain Dave! We will be in touch soon for our next adventure."
            </p>
            <p class="rating">⭐⭐⭐⭐⭐</p>
        </div>
    </div>

    <div class="review">
        <div class="review-photo">
            <img src="assets/images/friends-boat.jpeg" alt="friends at the beach standing" />
        </div>
        <div class="review-text">
            <h2>Lil & Marty</h2>
            <p>"We loved our tour of the area from Dave. We especially enjoyed getting off the boat on an island and
                looking for shark teeth! That was amazing and we'll definitely book another tour!"</p>
            <p class="rating">⭐⭐⭐⭐⭐</p>
        </div>
    </div>

    <!-- Add more reviews as needed -->
</div>