/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%; 
}
body { font-family: Roboto, "Helvetica Neue", sans-serif; }
a {
      text-decoration: none;
      color: #0077b6; 
      font-weight: bold;
    }

    /* Add hover effect */
    a:hover {
      
      text-decoration: underline;
    }

/* Media query for mobile devices */
@media (max-width: 768px) {
    img {
      width: 80%;  /* Reduce image size on small screens */
      max-width: 400px;  /* Optional: limit the max width on mobile */
    }
  }