<img src="assets/images/sunset_3.png" alt="sunset with boats" class="sunset-image">

<!-- home.component.html -->
<div class="home-container">
    <div class="home-info">
        <h4>Captain Dave says welcome to Charleston!</h4>
        <p>
            This 23ft Chaparral Suncoast Cruise, powered by a 200 HP engine, is ready for plenty of adventure and
            stories. It's perfect for up to
            six guests, and we offer a variety of tours to suit your mood. Whether you're looking to catch the sunset
            with a glass of wine, hunt for seashells and shark teeth, or explore the historic Charleston Harbor, there's
            something for everyone.
        </p>
        <p>

        <p>
            For the full list of tours, check out our <a href="/tours">Tours</a> page!
        </p>
        <p>
            I'm a licensed Captain, Coast Guard certified, and I've been showing people around Charleston for over 30
            years. Let me share with you the same unforgettable experiences my family and friends have enjoyed for
            years.
        <p>
            PS: And yes, my dogs love coming along too!

        </p>
        <div class="contact-info">
            <h6><b>To book a tour, please contact me via:</b></h6>
            <div class="contact-details">
                <div class="contact-method">
                    <h3>Phone</h3>
                    <p><a href="tel:+18434424618">+1 (843) 442-4618</a></p>
                </div>
                <div class="contact-method">
                    <h3>Email</h3>
                    <p><a href="mailto:davethewavecharleston@gmail.com">davethewavecharleston&#64;gmail.com</a></p>
                </div>
            </div>
        </div>
    </div>