<img src="assets/images/sunsetbackground.jpeg" alt="sunset with boats" width="100%" height="auto">

<!-- home.component.html -->
<div class="home-container">
    <div class="home-info">
        <h1>Dave the Wave</h1>
        <h2>Charleston Harbor Tours</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In in facilisis felis, a pulvinar ipsum. Etiam nec
            mollis diam, ac vulputate tellus. Quisque ut magna vel enim rhoncus aliquam a nec lacus. Nullam cursus nisl
            lorem, quis faucibus odio facilisis vitae. Morbi a ligula sollicitudin, molestie velit eu, porttitor enim.
            Proin molestie, lacus ac auctor fermentum, augue ipsum blandit odio, sit amet accumsan metus erat vel nisl.
            Vivamus a accumsan nunc. Aliquam id erat ac magna tempus ullamcorper. Donec finibus mauris hendrerit velit
            malesuada, quis rhoncus eros facilisis. Donec non quam ut eros pulvinar tempor. Aenean sit amet auctor
            lorem, quis pharetra nunc. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac
            turpis egestas. Aenean dignissim, ex vitae sagittis posuere, lorem lacus iaculis metus, sit amet efficitur
            arcu nisi vitae mi. Nulla turpis ligula, euismod quis placerat eu, tincidunt nec velit. In hac habitasse
            platea dictumst. Donec id ultricies nunc. Duis varius, arcu sed lobortis finibus, quam mi sollicitudin
            augue, et dapibus lorem turpis in eros. Nunc vel velit tellus. Vestibulum ante ipsum primis in faucibus orci
            luctus et ultrices posuere cubilia curae; Vestibulum aliquet mi faucibus, tempor tellus in, hendrerit neque.
            Sed sed vehicula turpis. Nulla ut leo a ipsum dignissim rutrum et id ante. Pellentesque ac auctor mauris. Ut
            nec felis vel dui tincidunt luctus. Curabitur scelerisque et ipsum a vehicula. Integer vehicula ac ex in
            cursus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec
            nec justo a leo molestie feugiat ut sed leo.</p>
        <div class="contact-info">
            <p>To book a tour, please contact me via:</p>
            <div class="contact-details">
                <div class="contact-method">
                    <h3>Phone</h3>
                    <p><a href="tel:+18434424618">+1 (843) 442-4618</a></p>
                </div>
                <div class="contact-method">
                    <h3>Email</h3>
                    <p><a href="mailto:david.brockway23@comcast.net">david.brockway23&#64;comcast.net</a></p>
                </div>
            </div>
        </div>
    </div>